@use "/src/assets/styles/breakpoints" as *;
.bannerWrapper {
  background: linear-gradient(
    to right bottom,
    #cdebf6,
    #daedf9,
    #e7f0fa,
    #f0f3f9,
    #f7f7f8
  );
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  .patentOne {
    position: absolute;
    top: 125px;
    width: 55px;
    left: 0;
    height: auto;
  }
  .patentTwo {
    position: absolute;
    bottom: -200px;
    width: 200px;
    left: 0;
    height: auto;
  }
  .patentThree {
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    height: auto;
  }
  .banner {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include breakpoint-down(xs) {
      width: 100%;
    }
    .titleWraper {
      position: relative;
      overflow: hidden;
      white-space: nowrap;
      padding-bottom: 16px;
      // animation:
      //   typing 3.5s steps(30, end),
      //   blink-caret 0.75s step-end infinite;

      .title {
        text-align: center;
        font-size: 60px;
        line-height: 72px;
        font-weight: 700;
        letter-spacing: -1px;
        @include breakpoint-down(xs) {
          width: 100%;
          font-size: 35px;
          line-height: 50px;
        }
        .textBorder {
          position: relative;
          color: #347a98;
          height: 5rem;
          &::after {
            content: "";
            background: url("../../../../public/Assets/Images/border.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 100%;
            height: 17px;
            background-position: left bottom;
            position: absolute;
            right: 0;
            bottom: -15px;
            animation: textAppear 1s;
          }
        }
      }
    }
    .subTitle {
      font-size: 20px;
      line-height: 30px;
      color: #475467;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      animation: textAppear 2s;
    }
    .btn {
      margin-top: 40px;
    }
  }
}

/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes textAppear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
