.container {
  max-width: 1312px;
  padding-inline: 16px;
  margin-inline: auto;
}
.container-fluid {
  max-width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  --gutter-x: 12px;
  --gutter-y: 12px;
  row-gap: var(--gutter-y);
  margin-left: calc(var(--gutter-x) * -0.5);
  margin-right: calc(var(--gutter-x) * -0.5);
}
.col {
  padding-left: calc(var(--gutter-x) * 0.5);
  padding-right: calc(var(--gutter-x) * 0.5);
}
$grid-columns: 24;
$grid-breakpoints: (
  "xs": "480px",
  "sm": "576px",
  "md": "768px",
  "lg": "992px",
  "xl": "1200px",
  "xxl": "1600px",
);
@for $column from 1 through $grid-columns {
  .col-#{$column} {
    width: #{$column * (100% / $grid-columns)};
    flex: 0 0 auto;
  }
}
@mixin make-col($media, $col, $grid-columns) {
  .col-#{$media}-#{$col} {
    width: #{$col * (100% / $grid-columns)};
    flex: 0 0 auto;
  }
}
@each $media, $breakpoint in $grid-breakpoints {
  @media screen and (min-width: #{$breakpoint}) {
    @for $column from 1 through $grid-columns {
      @include make-col($media, $column, $grid-columns);
    }
  }
}
